* {
	box-sizing: border-box;
	font-family: sans-serif;
}

ul {
	list-style: none;
	padding: 0;
}

.country-name {
	font-size: 16px;
	padding: 1px;
	width: 200px;
}

.country-info {
	padding: 5px;
}

.country-info img, .country-info h3 {
	display: inline-block;
	vertical-align: middle;
}

.country-info img {
	box-shadow: 2px 2px 2px;
	height: 50px;
}

.country-info h3 {
	color: #0001FC;
	font-size: 36px;
	margin: 0 0 0 20px;
}
c
.country-info table {
	border-collapse: collapse;
	margin: 20px 0;
}

.country-info thead th {
	background: #000080;
	border-bottom: 2px solid #fff;
	color: #fff;
}

.country-info tbody th, .country-info tbody td {
	border-bottom: 1px solid #fff;
	padding: 0 5px;
}

.country-info tbody td {
	width: 500px;
}

.country-info tbody tr:last-of-type th, .country-info tbody tr:last-of-type td {
	border: none;
}

.country-info tbody th {
	background: #FFCB00;
	width: 125px;
}

.country-info tbody td {
	background: #FEFE9A;
	color: #000080;
}

.country-info tfoot td {
	background: #000080;
	height: 21px;
}

.currency {
	text-transform: capitalize;
}

.autocomplete-wrapper {
  position: relative;
}

.autocomplete-wrapper input {
  position: relative;
  z-index: 10;
  background: transparent;
}

.autocomplete-ui {
  list-style: none;
  padding: 0px;
  margin-top: 0;
  width: 200px;
  box-shadow: 0 1px 2px grey;
}

.autocomplete-ui-choice {
  padding: 5px;
  border-bottom: solid 1px #ddd;
}

.autocomplete-ui-choice:hover {
  background: #eee;
  cursor: pointer;
}

.autocomplete-ui-choice.selected {
  background: lightblue;
}

.autocomplete-ui-choice:last-of-type {
  border-bottom: 0;
}

.autocomplete-ui-choice p {
  margin: 0;
}

.autocomplete-overlay {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.autocomplete-overlay:empty {
  display: none;
}
